:root{
    --my-color: #2a0cb1 !important;
    --link-hover: rgb(241, 207, 10);
}

* {
    transition: all 0.5s ease-in-out;
}

body {
    background-color: var(--my-color);
}

a {
    text-decoration: none;
    color: var(--my-color);

    &:hover {
        color: var(--link-hover)
    }
}

.social-link, .social-link {
    font-size: 1.5rem;
    padding: 0 5px;
}

#blog-body {
    min-height: 80vh;
}


#footer {
    min-height: 120px;
}

#header {
    background-color: #eeeeee;
}

.comments {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #dbd0df;
    border-radius: 5px;
}

#blog-body {
    background-color: #ddd;
}
