* {
    transition: all 0.5s ease-in-out;
}

#header {
    
}

#menu-toggler {
    outline: none;
    border: none;
}

.my-color {
    color: #72158f !important;
}

body {
    background-color: #72158f;
}

#post-create-btn {
    font-size: 1.5rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #c877d8ee;

    &:hover {
        color: #ebb70bee;
    }
}

.social-link, .social-link {
    font-size: 1.5rem;
    padding: 0 5px;
}

#blog-body {
    min-height: 80vh;
}

#footer {
    min-height:120px;
}