{% extends 'blog/base.html' %}
{% load static %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="card my-3 p-4">
    <h3>{{ post.title }}</h3>
    <p class="date">
        Published {{ post.publish }} by {{ post.author }}
    </p>
    {{ post.body|markdown }}
    <p>
        <a href="{% url "blog:post_share" post.id %}">
            Share this post
        </a>
    </p>
</div>
<div class="row">
    <div class="col-lg-7">
        {% with comments.count as total_comments %}
        <h4>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h4>
        {% endwith %}
        {% for comment in comments %}
        <div id="comments" class="mb-2 row comments">
            <div id="thumbnail-container" class="comment-thumbnail col-2 justify-contents-center">
                <img class="img-thumbnail rounded-circle" src="{% static 'img/pic.jpg' %}" alt="...">
            </div>
            <div class="col-10">
                <h6>{{ comment.name }} {{ comment.created }}</h6>
                <p>{{ comment.body|linebreaks }}</p>
            </div>
        </div>
        {% empty %}
        <p>There are no comments yet</p>
        {% endfor %}
        {% include "blog/post/includes/comment_form.html" %}
    </div>
    <div class="col-lg-5 card p-4">
        <h4 class="text-center">Similar Posts</h4>
        <ul>
        {% for post in similar_posts %}
            <li><a href="{{ post.get_ansolute_url }}">{{ post.title }}</a></li>
        {% empty %}
            <p>There are no similar posts yet.</p>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}
