{% extends 'blog/base.html' %}

{% block title %}Post Share{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-9 text-center">
            {% if sent %}
            <h2>Email successfully sent.</h2>
            <p>
                "{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
            </p>
            {% else %}
            <h3>Share "{{ post.title }}" by e-mail</h3>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input class="btn btn-primary btn-lg" type="submit" value="Share">
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}